<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Warning Reset Password Verification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
 <body>
 <div>
    <p style="color: black;">
      we inform you that you can change your password using this link within the next 15min
    </p>
    <p style="margin: 0px 0px 0px 50px; color: black;"><b>Link: </b><i th:text=${link}></i></p>
    </div>
    <div>
    	<img th:src="@{static/investme.png}" />
    </div>
    <p style="color: black;">
      Regards, <br/>
      <em th:text="${sign}"></em> 🤷
      <p th:text="${location}"></p>
    </p>
  </body>
</html>